<%include partials/header %>
<h1><%= title %></h1>
<div class="container">
    <div class="jumbotron">
        <div class="heading">
                Landing Page
        </div>
        
    </div>
</div>
   
</div>
<%include partials/footer %>