<%include partials/header.ejs %>

<div class="container">
    <h3>Add Manufacturer</h3>
        <form method="POST" action="/manufacturers/add">
            <div class="form-group"></div>
            <label for="manufacturerName">Name</label>
            <input type="manufacturerName" class="form-control" id="manufacturerName" placeholder="Enter Manufacturer Name" name="manufacturerName">
            <div></div>
            <br>
            <button type="submit" class="btn btn-primary">Add Manufacturer</button>
        </form>
    </div>
    <br>
</div>

<div class ="container">
    <table class="table  table-bordered table-hover"  id="table_manufacturers">
        <thead class="thead-inverse">
            <tr>
                <th>Manufacturer ID</th>
                <th>Name</th>
                <th></th>
        </tr>
        </thead>
        <% if(manufacturerData.length){
            for (var i = 0; i < manufacturerData.length; i++) { %>

            <tr>
                <td><%=manufacturerData[i].manufacturerID%></td>
                <td><%=manufacturerData[i].manufacturerName%></td>
                <td>
                    <a class="a-inside edit" href="/manufacturers/edit/<%=manufacturerData[i].manufacturerID%>">Edit</a>
                    <a class="a-inside delete" href="/manufacturers/delete/<%=manufacturerData[i].manufacturerID%>">Delete</a>
                </td>
            </tr>

            <%  }
            }else{ %>
            <tr>
                <td colspan="3">No user</td>
            </tr>

        <% } %>

    </table>
</div>
<%include partials/footer.ejs %>