<%include partials/header.ejs %>

<container>
    <div>
        <form method="POST" action="manufacturers/add">
        <table cellpadding="11">
            <tr>
                <td class="label">Name</td><td>: <input type="text" name="name" required></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    &nbsp; <input type="submit" name="submit" value="Add Manufacturer">
                </td>
            </tr>
        </table>
        </form>
    </div>
</container>
    <div class = "data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th>Name</th>
            </tr>
            <% if(data.length){
                for (var i = 0; i < data.length; i++) { %>

                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].name%></td>
                </tr>

                <%  }
             }else{ %>
                <tr>
                    <td colspan="3">No user</td>
                </tr>

            <% } %>

        </table>
    </div>
<%include partials/footer.ejs %>