<%include partials/header %>
<h1><%= title %></h1>
<div class="container">
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addForm" aria-expanded="false" aria-controls="collapseExample">
    +Add Item
  </button>
<div class="collapse" id="addForm">
    <br>
    <h3>Add Item</h3>
<form method="POST" action="/items/add">
    <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" class="form-control" id="manufacturer" placeholder="Manufacturer" name="manufacturer_id">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" placeholder="Model" name="model">
      </div>
      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="text" class="form-control" id="weight" placeholder="Weight" name="weight">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" placeholder="Price" name="price">
      </div>        
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" placeholder="" name="quantity">
      </div>
    <input type="submit" value="Add New Item" class="btn btn-primary">
</div> 
</div>
</div>
</div>
<br>
<%include partials/footer %>