<%include ../partials/header.ejs %>

<div class="container">
    <h1><%=title%></h1>
    <h3>Order ID:<%=orderData.orderID %></h3>
    <h3>Quantity: <%=orderData.totalQuantity %></h3>
    <h3>Time:</h3>
    <div class="data-table">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Item ID</th>
                    <th>Manufacturer</th>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Quantity Available</th>
                    <th></th>

                </tr>
            </thead>

            <tbody id="orders_item_table">
                <% if(itemData.length){
                    for (var i = 0; i < itemData.length; i++) { %>
                    <tr>
                        <td><%=(i+1)%></td>
                    </tr>
    
                    <%  }
                }else{ %>
                    <tr>
                        <td>No Items</td>
                    </tr>
                <% } %>
            </tbody>

        </table>
    </div>
</div>

<%include ../partials/footer.ejs %>