<%include ../partials/header %>
<h1><%= title %></h1>
<div class="container">
    <form method="POST" action="/customers/add">
        <table cellpadding="11">
        <label>Manufacturer</label>
        <input type="text" name="manufacturer">
        <br>
        <label>Name</label>
        <input type="text" name="name">
        <input type="submit" value="Add Manufacturer">
    </table>
    </form>
</div>
<%include ../partials/footer %>